[submodule "external/lvgl_esp32_drivers"]
	path = external/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
[submodule "external/lvgl"]
	path = external/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "simulation/lv_drivers"]
	path = simulation/lv_drivers
	url = https://github.com/lvgl/lv_drivers
